#vision {
    margin: 120px 64px -200px;
    text-align: center;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin: 0 0 34px;
    padding: 0 30px;
    text-align: center;
}
.sub {
        font-size: 36px; /* text-4xl */
        font-weight: 500; /* font-bold */
        text-align: center; /* text-center */
        margin-bottom: 20px; /* mb-10 */
      }
      
.highlight {
    font-weight: 600;
    color: #3b82f6;
}
.custom-container {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vh;
    margin: 240px 64px 240px;
} 

#feature {
      transition: transform 0.3s ease;
      margin-bottom: -180px;
    }

.feature {
    background-color: white; /* Màu nền trắng */
    padding: 24px; /* Khoảng cách bên trong phần tử (tương đương p-6 trong Tailwind) */
    border-radius: 8px; /* Bo góc (tương đương rounded-lg) */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng (tương đương shadow-md) */
    transition: box-shadow 0.3s ease-in-out; /* Hiệu ứng chuyển đổi mượt */
}

.feature:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); /* Tăng độ đổ bóng khi hover (tương đương hover:shadow-lg) */
}
    

#feature:hover {
      transform: scale(1.02);
}

.icon {
    font-size: 36px;
    margin-bottom: 12px;
}

.nameft {
    font-size: 20px;
    font-weight: 600;
    color:#111827;
}

.detail { 
    color:#4b5563;
    margin-top: 8px;
}

img {
    width: 25%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.02);
}

.our-team {
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 100vh;
    margin: 12px -124px 24px -124px;
    width: 100%;
    height: inherit;
} 

.description {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}


#copyright p {
    margin-bottom: 48px;
    margin-top: 0;
    font-size: 16px;

}

#feature, #copyright {
    text-align: center;
    max-width: 100% ;
}


.team-list {
    line-height: 1; 
    font-size: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 0;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1500px;
    margin: 0 auto;
}

/* Khi màn hình lớn hơn 768px, chuyển sang hàng ngang */
@media (min-width: 768px) {
    .team-container {
        flex-direction: row;
        justify-content: center;
        gap: 250px;
    }
}

/* Ảnh */
.image-container {
    width: 200%;
    height: 75%;
    max-width: 700px;
}

.team-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 124px;
}
