
/*---------------------------------- docs ----------------------------------*/
#docs{
    margin-top: 40px;
    padding: 50px;
    padding-bottom: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.docs-body{
    background-color: var(--docs-bg-color);
    box-shadow: 2px 2px 0px 5px rgba(0,0,0,1);
    -webkit-box-shadow: 2px 2px 0px 5px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 0px 5px rgba(0,0,0,1);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0px 0px;
    width: 100%;
    /* background-color: #76ABAE; */
}

.docs-left, .content-page{
    /* background-color: aliceblue; */
    border-radius: 20px;
    padding: 10px 10px;
}

.docs-left{
    height: 700px;
    overflow-y: auto;
}

.docs-right{
    height: 700px;
    padding: 0 20px;
    overflow-y: auto;
    border-radius: 20px;
}

.title {
    color: black;
    padding: 10px;
    cursor: pointer;
    margin: 5px 0;
    font-weight: bold;
    font-size: 200%;
    border-radius: 20px;
    border-bottom: 2px solid transparent; /* Để tránh màu viền mặc định */
    /* border-image: linear-gradient(90deg, black, white); */
    border-image-slice: 1;
    transition: background-color 0.5s ease-in-out;
}
.title.disabled{
    color: var(--btn-text-color);
    background-color: rgba(128, 128, 128, 0.37) !important ;
    pointer-events: none;
}

.content a,p,h1,h2,h3,h4,h5,h6{
    color: var(--text-color) !important;
}

.content {
    display: none; 
    padding: 20px;
    /* background-color: aliceblue; */
    /* border: 1px,solid,#31363F; */
    border-radius: 20px;
    width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* #docs {
        /* padding: 20px; */

    #docs .docsHead {
        width: 100%;
        font-size: 24px;
        height: auto;
        padding: 10px;
        margin-bottom: 20px;
    }

    .docs-body {
        flex-direction: column; 
    }

    .docs-left, .docs-right {
        width: 100%; 
    }

    .docs-left {
        height: 200px; 
        overflow-y: auto; 
        overflow-x: hidden;
    }

    .docs-right {
        margin-top: 30px;
        padding: 0; 
        height: 500px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .title {
        font-size: 150%;
    }
}

