@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --color-1: #ffffff;
  --text-color: #000000;
  --accent-color: #0000004d;
  --btn-text-color: #ffffff;
  --btn-color: #001f4c;
  --bg-color: #313131;
}
/*---------------------------------- docs ----------------------------------*/
#docs{
    margin-top: 40px;
    padding: 50px;
    padding-bottom: 100px;
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

#docs .bground{
    height: 100%;
    position: relative;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

#docs .docsHead{
    color: white;
    font-size: 30px;
    position: relative;
    width: 600px;
    height: 100px;
    display: flex;
    bottom: 50px;
    right: 50px;
    justify-content: center;
    align-items: center;
    background-color: #76ABAE;
    border-bottom: 10px solid var(--bg-color);
    border-right: 10px solid var(--bg-color);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 25px;
}

#docs .bground::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 40%;
    box-shadow: -10px -10px 0 var(--bg-color);
    top: 0;
    left: 0px;
}

#docs .bground::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 40%;
    box-shadow: -10px -10px 0  var(--bg-color);
    top: 0px;
    left: 0;
}

#docs .docsHead::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 40%;
    box-shadow: 10px -10px 0 var(--bg-color);
    top: 0px;
    right: 0;
}

#docs .docsHead::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background:transparent;
    border-radius: 40%;
    box-shadow: -10px 10px 0  var(--bg-color);
    bottom: 0;
    left: 0;
}

.docs-body{
    padding: 10px 20px;
    background-color: #76ABAE;
}

.docs-left, .content-page{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px 10px;
}

.title {
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    margin: 5px 0;
    font-weight: bold;
    font-size: 200%;
    border-radius: 20px;
    border-bottom: 2px solid transparent; /* Để tránh màu viền mặc định */
    border-image: linear-gradient(90deg, black, white);
    border-image-slice: 1;
    transition: background-color 0.5s ease-in-out;
}
.title.disabled{
    background-color: grey !important ;
    pointer-events: none;
}


.content {
    display: none; 
    padding: 20px;
    background-color: aliceblue;
    border: 1px,solid,#31363F;
    border-radius: 20px;
    width: 100%;
}
