/* navbar */
nav{
    display: flex;
    position: fixed !important;
    top: 0;
    z-index: 10;
    align-items: end;
    background-color: white;
    border-bottom:1px solid gray !important; 

}
ul li{
    display: flex;
    list-style-type:none ;
    align-items: end;
    justify-content: center;
    width: 10%;
    
}
.nav-menu{
    display: flex;
    gap: 15px;
    justify-content: end;
}
.nav-title{
    display: flex;
    padding: 20px;
}
.nav-title img{
    width: 48px; 
    height: 48px; 
    border-radius: 50%;
    margin: 0 20px 0 0;
    padding: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
li a{
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: black;
}
nav ul li:hover{
    border-bottom:1px solid gray;
    a{
        font-size: 20px;
        transition: font-size 0.2s ease-in-out;
    }
}
/* Body */
.doc-title{
    background-color: red;
}
.doc-content{
    background-color: aqua;
}