/*---------------------------------- download ----------------------------------*/
#download{
    margin-top: 10px;
    padding: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#download .row {
    padding: 0;
    height: 100%;
}

#download th,td {
    color: var(--text-color);
}

#download a{
    color: var(--text-color);
}

.btn-primary {
    color: #fff !important;
}

.download-list-table .btn-primary {
    background-color:  linear-gradient(-45deg, 
    #43419a79, 
    #4947d979, 
    #3735bf79, 
    #431cdd79, 
    #2f74e279);  
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background-color 0.3s;
}

a.btn.btn-primary.btn-sm {
    background: linear-gradient(-45deg, 
    #43419a90, 
    #4947d990, 
    #3735bf90, 
    #431cdd90, 
    #2f74e290);
    color: white;              /* chữ trắng để nổi bật */
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

/*
Button RGB Color Stuffs
*/

.rainbow-button { 
    margin-top: 20px;
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: 12px;
    background: linear-gradient(-45deg, 
    #43419a79, 
    #4947d979, 
    #3735bf79, 
    #431cdd79, 
    #2f74e279);
}

.rainbow-button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(-45deg, 
    #43419a79, 
    #4947d979, 
    #3735bf79, 
    #431cdd79, 
    #2f74e279);
    left: 0;
    top: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}


  /* glow */
.rainbow-button::before {
    content: "";
    background: linear-gradient(45deg,
    #09085d79, #0f0c8c79, #1410bb79 ,
    #7712f779, #0244ad79);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    /* transition: opacity .3s ease-in-out; */
    border-radius: 10px;
    opacity: 0;
}
  
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
  
  /* hover */
.rainbow-button:hover::before {
    opacity: 1;
  }
  
.rainbow-button:active:after {
    background: transparent;
  }
  
.rainbow-button:active {
    color: #000;
    font-weight: bold;
  }

/*
Rainbow button over
*/

#list-version {
    padding: 1.25em;
    /* border-top: 2px solid black; */
}

.download-list-table tbody tr:nth-child(odd),
.download-list-mobile .version-item:nth-child(odd) {
    background-color: #f1f1f17e;
}

/*
Desktop responsive
*/

#download .table-container {
    max-height: 30vh;
    overflow-y: scroll;
}

#download .download-list-table {
    width: 100%;
    margin-bottom: 0px;
}


/*
Mobile responsive
*/

.btn-default, .btn-default:hover{
    background-color: transparent;
}



#download .download-list-mobile .version-item {
    padding: 15px;
}

#download .release-ver {
    display: inline-block;
    width: 20%;
}

#download .release-date {
    width: 30%;
    display: inline-block;

}

#download .release-download {
    width: 25%;
    display: inline-block;

}

#download .release-note {
    width: 25%;
    display: inline-block;

}
