nav{
    width: 100vw !important;
    height: 80px;
    background-color: var(--nav-color);
    display: flex;
    align-items: center;
    border-bottom: #000 1px solid;
}

#logo{
    width: 55px;
    height: 55px;
    margin: 0px 20px 0 0;
    border-radius: 50px;
    padding: 0;
}

.navbar-brand{

    margin-top: 4px;
    font-size: 35px; 
    color: var(--text-color);
}

.links-container{
    margin-right: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    /* transition: 0.3s; */
}

nav a:hover{  
    /*  */
}

nav a:first-child:hover, a:first-child:focus{
    border: none;
    box-shadow: none;
    cursor: pointer;
}

nav .home-link{
    position: relative;
    left: 20px;
    justify-content: left;
    margin-left: 0;
    width: 100%;
}

.tologin {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 90%;
    padding: 0 10px;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    background-color: rgba(255, 56, 86, 0.85);
    border-radius: 15px;
    border: 0;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 2px 0px 0px;
}

nav svg{
    fill: var(--text-color)
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

.open-sidebar-button, .close-sidebar-button:hover{
    cursor: pointer;
}


nav a:hover{
    text-decoration: none;
    color: var(--text-color);
}


@media(max-width: 425px){
    .navbar-brand{
        font-size: 25px; 
    }
    
}

@media(max-width: 768px){
    .theme-switch{
        position: relative;
        bottom: 410px;
        left: 160px;
    }
    .links-container{
        margin-right: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--nav-color);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }

}