nav{
    width: 100vw !important;
    height: 80px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0px 20px 0 0;
    padding: 0;
}

.navbar-brand{
    margin-top: 4px;
    font-size: 35px; 
    color: #000;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s;
}

nav a:hover{  
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

nav .home-link{
    padding-right: 0px;
    margin-right: 0;
}

nav svg{
    fill: var(--text-color);
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

nav .dl-btn {
    padding-right: 30px;
    background-color: var(--btn-color);
    margin-right:0 ;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: var(--btn-text-color);
    font-size: 30px;
}

nav .dl-btn:hover{
    cursor: pointer;
    text-decoration: none;
    color: var(--btn-text-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
nav a:hover{
    text-decoration: none;
    color: var(--text-color);
}

@media(max-width: 425px){
    .navbar-brand{
        font-size: 25px; 
    }
    
}

@media(max-width: 768px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}