@charset "UTF-8";@font-face {
    font-family: 'TeXGyreAdventor';
    font-style: normal;
    font-weight: normal;
    src: url(./gothic/texgyreadventor-regular.otf)
}

@font-face {
    font-family: 'TeXGyreAdventor';
    font-style: normal;
    font-weight: bold;
    src: url(./gothic/texgyreadventor-bold.otf)
}

@font-face {
    font-family: 'TeXGyreAdventor';
    font-style: italic;
    font-weight: normal;
    src: url(./gothic/texgyreadventor-italic.otf)
}

@font-face {
    font-family: 'TeXGyreAdventor';
    font-style: italic;
    font-weight: bold;
    src: url(./gothic/texgyreadventor-bolditalic.otf)
}

html,body {
    font-family: 'Century Gothic','TeXGyreAdventor',"STHeiti",sans-serif;
    /* test scrolle hidden */
    height: 2000px;
    /* xoa thanh ngang scroll */
    overflow-x: hidden;
}

.fullscreen {
    height: 600px;
    position: relative;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding-bottom: 8em;
    background-color: white;
    z-index: 20;
}

.content-resizer {
    position: absolute;
    width: 100%;
    top: 200px;
    min-height: 200px;
}

h2 {
    font-size: 48px;
    font-weight: normal;
    line-height: 48px;
    margin: 0 0 34px;
    padding: 0 30px;
    text-align: center;
}

.quote {
    font-family: "Raleway", 'Century Gothic', 'TeXGyreAdventor', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #999;
    text-align: center;
}

#logo {
    width: 48px; 
    height: 48px; 
    border-radius: 50%;
    margin: 0 20px 0 0;
    padding: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
}

.navbar-header{
    padding: 20px;
}

.navigate{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border: none;
}

li{
    display: inline;
    padding: 20px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 50px;
  }

#navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
  }