@charset "UTF-8";@font-face {
    font-family: 'TeXGyreAdventor';
    font-style: normal;
    font-weight: normal;
    src: url(./gothic/texgyreadventor-regular.otf)
}

@font-face {
    font-family: 'TeXGyreAdventor';
    font-style: normal;
    font-weight: bold;
    src: url(./gothic/texgyreadventor-bold.otf)
}

@font-face {
    font-family: 'TeXGyreAdventor';
    font-style: italic;
    font-weight: normal;
    src: url(./gothic/texgyreadventor-italic.otf)
}

@font-face {
    font-family: 'TeXGyreAdventor';
    font-style: italic;
    font-weight: bold;
    src: url(./gothic/texgyreadventor-bolditalic.otf)
}


* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Century Gothic','TeXGyreAdventor',"STHeiti",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Add your background pattern here */
    background-color: #313131;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px     
}    

.bgdefault{
    height: auto;
    --color: #E1E1E1;
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
    width: 100%;
}

/* ---------------------------------- nav ---------------------------------- */
#logo{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0px 20px 0 0;
    padding: 0;
}

.navbar-brand{
    margin-top: 4px
}

nav{
    margin: 0;
    padding: 10px;
    color: black;
    height: 80px;
    width: 100%;
    background-color: #ffffff;
}

nav a{
    color: black;
    text-decoration: none;
}

.nav-icons{
    margin-right: 10px;
    height: 50px;
    transition: 0.3s;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    font-size: 20px;
}

.col-sm-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

div .col-sm-4{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav button {
    background-color: #76ABAE;
    border-radius: 40px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.nav-icons:hover{
    content: '';
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 40px;
    text-decoration: none;
    
}

.nav-icons:focus{
    text-decoration: none;
    color: black;
}

nav a:hover{
    text-decoration: none;
    color: black;
}

nav a:active{
    text-decoration: none;
    color: black;
}

nav button:hover{
    content: '';
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    text-decoration: none;
}


/*---------------------------------- home ----------------------------------*/
#home{
    margin-top: 120px;
    width: 90vw;
    border-radius: 15px; 
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

#home .imgBx{
    height: 100%;
    position: relative;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    
}

#home .dl-btn{
    position: relative;
    top: -50px;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #76ABAE;
    border-top: 10px solid #31363F;
    border-right: 10px solid #31363F;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 15px;
}

#home .dl-btn::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 40%;
    box-shadow: -10px -10px 0  #31363F;
    top: 0;
    left: 0;
}

#home .dl-btn::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background:transparent;
    border-radius: 40%;
    box-shadow: 10px 10px 0  #31363F;
    bottom: 0;
    right: 0;
}

#home .imgBx::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 40%;
    box-shadow: -10px 10px 0  #31363F;
    bottom: 50px;
    left: 0;
}

#home .imgBx::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background:transparent;
    border-radius: 40%;
    box-shadow: -10px 10px 0  #31363F;
    bottom: -50px;
    left: 300px;
}

.dl-btn:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/*---------------------------------- feature ----------------------------------*/
#ftures{
    width: 90vw;
    padding: 30px;
    margin: 40px 2vw 40px 2vw; 
    border-radius: 15px; 
}

#features .fts-name {
    margin: 0 220px -50px 220px;
    padding-bottom: 25px;
    width: 800px;
    font-size: 50px;
    border-bottom: #31313169 2px solid;
    text-align: center;
}

#features .row{
    width: 1200px;
    padding: 30px;
    margin: 20px;
    border-radius: 25px;
}

#features .fts-card{
    background-color: white;
    border-radius: 12px;
    margin: 39px;
    padding:20px 5px 20px 5px;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 400ms;
}

#features .col-sm-4{
    display: flex;
    justify-content: space-around;
}

#features .icon{
    font-size: 50px;
}

.row .fts-card:hover {
    transform: scale(1.1, 1.1);
  }
  
.row:hover > .fts-card:not(:hover) {
    transform: scale(0.9, 0.9);
}

/*---------------------------------- update ----------------------------------*/
#updates{
    width: 90vw;
    margin: 0px 2vw -80px 2vw; 
    border-radius: 15px; 
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

#updates .bground{
    height: 100%;
    position: relative;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

#updates .updHead{
    font-size: 30px;
    position: relative;
    width: 500px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #76ABAE;
    border-bottom: 10px solid #31363F;
    border-right: 10px solid #31363F;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 25px;
}

#updates .bground::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 40%;
    box-shadow: -10px -10px 0  #31363F;
    top: 0;
    left: 15px;
}

#updates .bground::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 40%;
    box-shadow: -10px -10px 0  #31363F;
    top: -110px;
    left: 515px;
}

#updates .updHead::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 40%;
    box-shadow: 10px -10px 0  #31363F;
    top: 0;
    right: 0;
}

#updates .updHead::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background:transparent;
    border-radius: 40%;
    box-shadow: -10px 10px 0  #31363F;
    bottom: 0;
    left: 0;
}



div img {
    width: 600px;
    border-radius: 10px;
    padding: 0;
    margin: 20px;
}

div .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

div .carousel-inner {
    width: 650px;
    padding-left: 3px;
    box-shadow: 0 0 0 2px rgb(0, 0, 0), 8px 8px 0 0 rgb(0, 0, 0);
    border-radius: 10px;
}

div #myCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------- download ----------------------------------*/
#download{
    width: 90vw;
    margin: 0 2vw 40px 2vw; 
    border-radius: 15px; 
   background-size: 55px 55px;
}

#download h1{
    font-size: 40px;
}

#download #lastest-verDownload {
    margin-top: 135px;
    padding: 1.25em;
    text-align: center;
}

#download .row {
    padding: 0;
    height: 110vh;
}

/*
Button RGB Color Stuffs
*/

.rainbow-button {
    padding: 15px 40px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
.rainbow-button::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0;
    top: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
  /* glow */
.rainbow-button::before {
    content: "";
    background: linear-gradient(
      45deg,
      #FF0000, #FF7300, #FFFB00, #48FF00,
      #00FFD5, #002BFF, #FF00C8, #FF0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
  
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}
  
  /* hover */
.rainbow-button:hover::before {
    opacity: 1;
  }
  
.rainbow-button:active:after {
    background: transparent;
  }
  
.rainbow-button:active {
    color: #000;
    font-weight: bold;
  }

/*
Rainbow button over
*/

#list-version {
    padding: 1.25em;
    border-top: 2px solid black;
}

.download-list-table tbody tr:nth-child(odd),
.download-list-mobile .version-item:nth-child(odd) {
    background-color: #f2f4f6;
}

/*
Desktop responsive
*/

#download .table-container {
    max-height: 30vh;
    overflow-y: scroll;
}

#download .download-list-table {
    width: 100%;
    margin-bottom: 0px;
}

/* Custom Scrollbar cho modern browsers */

#download .table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#download .table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

#download .table-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

#download .table-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*
Mobile responsive
*/

#download .download-list-mobile .version-item {
    padding: 15px;
}

#download .release-ver {
    display: inline-block;
    width: 20%;
}

#download .release-date {
    width: 30%;
    display: inline-block;

}

#download .release-download {
    width: 25%;
    display: inline-block;

}

#download .release-note {
    width: 25%;
    display: inline-block;

}

/*---------------------------------- docs ----------------------------------*/
#docs{
    width: 90vw;
    padding-bottom: 40px;
    margin: 0px 2vw 40px 2vw; 
    border-radius: 15px; 
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

#docs .bground{
    height: 100%;
    position: relative;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

#docs .docsHead{
    color: white;
    font-size: 30px;
    position: relative;
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #76ABAE;
    border-bottom: 10px solid #31363F;
    border-right: 10px solid #31363F;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 25px;
}

#docs .bground::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 40%;
    box-shadow: -10px -10px 0  #31363F;
    top: 0;
    left: 0px;
}

#docs .bground::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 40%;
    box-shadow: -10px -10px 0  #31363F;
    top: -100px;
    left: 600px;
}

#docs .docsHead::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 40%;
    box-shadow: 10px -10px 0  #31363F;
    top: 0px;
    right: 0;
}

#docs .docsHead::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background:transparent;
    border-radius: 40%;
    box-shadow: -10px 10px 0  #31363F;
    bottom: 0;
    left: 0;
}

.title {
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
    margin: 5px 0;
    font-weight: bold;
    font-size: 200%;
    border-bottom: 2px solid transparent; /* Để tránh màu viền mặc định */
    border-image: linear-gradient(90deg, black, white);
    border-image-slice: 1;
}


.content {
    display: none; 
    padding: 20px;
    background-color: white;
    border-left: 2px solid black;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.7);
}

/*---------------------------------- team ----------------------------------*/
#team{
    width: 90vw;
    padding: 30px;
    margin: 0 2vw 40px 2vw; 
    border-radius: 15px; 
}

#team .card {
    margin: 23px;
    --font-color: #000000;
    --font-color-sub: #000000;
    --bg-color: #11111100;
    --main-color: #000000;
    width: 200px;
    height: 254px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

#team .card-photo {
    transform: scale(0.3) translate(220px, 230px);
    width: 250px;
    height: 250px;
    margin-left: -125px;
    margin-top: -125px;
    background-color: #ccc;
    background-repeat: no-repeat;
    border-radius: 30%;
}
    
#team .card-title {
    text-align: center;
    color: var(--font-color);
    font-size: 20px;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
#team .card-title span {
    font-size: 15px;
    color: var(--font-color-sub);
  }
  
#team .card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 20px;
    gap: 20px;
    transition: 0.5s;
}
  
#team .card-socials-btn {
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
}
  
#team .card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
}
  
#team .card:hover > .card-socials {
    opacity: 1;
    height: 35px;
}
  
#team .card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all 0.15s;
}
  
#team .card-photo:hover {
    transition: 0.3s;
    transform: scale(0.4) translate(160px, 150px);
}

/*---------------------------------- footer ----------------------------------*/
footer{
    background-color: #ffffff;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer .container .col-sm-7{
    display: flex;
    justify-content: end;
    align-items: center;
}

.feedback, .information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid #31363f2c;  
}

.credit{
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 20px 0px 20px 0px;
    font-size: 10px;
    color: black;
}

.feedback .col-sm-3{
    font-size: 20px;
    font-weight: bold;
}

.feedback input{
    width: 400px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 16px;
}

.feedback button{
    border: none;
    outline: none;
    padding: 10px 30px;
    background: #76ABAE;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}


.information .col-sm-5{
    display: flex;
    right: 155px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .footer-brand{
    font-size: 30px;

}

.credit a{
    color: black;
    text-decoration: none;
}

.credit a:hover{
    color: black;
    text-decoration: none;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.rating > label {
    margin-right: 4px;
  }
  
  .rating:not(:checked) > input {
    display: none;
  }
  
  .rating:not(:checked) > label {
    float: right;
    cursor: pointer;
    font-size: 20px;
  }
  
  .rating:not(:checked) > label > svg {
    fill: #666;
    transition: fill 0.3s ease;
  }
  
  .rating > input:checked ~ label > svg {
    fill: #FFD95F;
  }
  
  .rating:not(:checked) > label:hover ~ label > svg,
  .rating:not(:checked) > label:hover > svg {
    fill: #FFD95F;
  }
  
  #star1:hover ~ label > svg,
  #star1:hover > svg {
    fill: #FFD95F !important;
  }
  
  #star2:hover ~ label > svg,
  #star2:hover > svg {
    fill: #FFD95F !important;
  }
  
  #star3:hover ~ label > svg,
  #star3:hover > svg {
    fill: #FFD95F !important;
  }
  
  #star4:hover ~ label > svg,
  #star4:hover > svg {
    fill: #FFD95F !important;
  }
  
  #star5:hover ~ label > svg,
  #star5:hover > svg {
    fill: #FFD95F !important;
  }
  
  #star1:checked ~ label > svg {
    fill: #FFD95F;
  }
  
  #star2:checked ~ label > svg {
    fill: #FFD95F;
  }
  
  #star3:checked ~ label > svg {
    fill: #FFD95F;
  }
  
  #star4:checked ~ label > svg {
    fill: #FFD95F;
  }
  
  #star5:checked ~ label > svg {
    fill: #FFD95F;
  }