
/*---------------------------------- update ----------------------------------*/
#updates{
    margin-top: 40px;
    margin-bottom: -80px;
    padding: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.des-cnt{
    width: 30%;
}

div img {
    width: 100%;
    padding: 0;
    margin: 0;
}

#updates .des {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

div .carousel-inner {
    width: 50vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#myCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    
}

@media (max-width: 425px){
    #updates .upd-contents{
        margin-top: 0;
        margin-bottom: 40px;
    }
    #updates h2{
        font-size: 15px;
        padding: 0 30px 0 30px;
    }
    #updates {
        padding: 20px;
    }
    div .row{
        margin: 20px;
    }
    div .carousel-inner{
        width: 70vw;
        margin-bottom: 40px;
    }
}