
/*---------------------------------- update ----------------------------------*/
#updates{
    margin-top: 40px;
    padding: 50px;
    padding-bottom: 100px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

div img {
    width: 100%;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

div .carousel-inner {
    width: 800px;
    box-shadow: 0 0 0 2px rgb(0, 0, 0), 8px 8px 0 0 rgb(0, 0, 0);
    border-radius: 10px;
}

#myCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    
}

@media (max-width: 425px){
    #updates .upd-contents{
        margin-top: 0;
        margin-bottom: 40px;
    }
    #updates h2{
        font-size: 15px;
        padding: 0 30px 0 30px;
    }
    #updates {
        padding: 20px;
    }
    div .row{
        margin: 20px;
    }
    div .carousel-inner{
        width: 70vw;
        margin-bottom: 40px;
    }
}