<!-- navbar -->
<nav class=" hidden navigate navbar navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="navbar-brand" id="logo" src="/img/logo.jpg">
            <span class="navbar-brand" style="font-size: 30px; color: #000;"> touchless </span>
        </div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="index.hbs"> home</a></li>
            <li><a href="docs.hbs"> documentation</a></li>
            <li><a href="download.hbs"> download</a></li>
            <li><a href="about.hbs"> about</a></li>
        </ul>
    </div>
</nav>