# Node modules (nếu bạn sử dụng Node.js)
node_modules/

# Thư mục build hoặc dist (nếu bạn biên dịch dự án)
build/
dist/

# File log
*.log

# File cấu hình cá nhân
*.env

# Thư mục tạm thời
tmp/
temp/

# Thư mục IDE
.vscode/
.idea/

# Hệ điều hành
.DS_Store
Thumbs.db

# Các file khác không cần thiết
*.bak
*.tmp
*.swp

# Bỏ qua các file tạm thời của hệ thống
*.orig
*.class
*.pyc
*.pyo
*.pyd

nodejsApply/
.vercel
config.json