<!-- navbar -->
<nav class="navigate navbar navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="navbar-brand" id="logo" src="img/logo.jpg">
            <span class="navbar-brand" style="font-size: 30px; color: #000;"> touchless </span>
        </div>
        {{> header}}
    </div>
</nav>

<div class="doc-body container">
    <h1 class="current-page">Documentation for Touchless</h1>
    <div class="content-page">
        <!-- Loading data tu GG sheet -->
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/docs.js"></script>