<div class="doc-body container">
    <h1 class="current-page">Documentation for Touchless</h1>
    <div class="content-page">
        <!-- Loading data tu GG sheet -->
    </div>

</div>
<script src="js/docs.js"></script>