<ul class="nav navbar-nav navbar-right">
    <li><a href="/"> home</a></li>
    <li><a href="/docs"> documentation</a></li>
    <li><a href="/download"> download</a></li>
    <li><a href="/about"> about</a></li>
</ul>